<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<%= form_tag movies_path, method: :get do %>
  <p>Search Title or Director:<%= text_field_tag :search, params[:search] %></p>
  <select name="length">
    <option value="1">Under 90 Minutes</option>
    <option value="2">Between 90 and 120 Minutes</option>
    <option value="3">Over 120 Minutes</option>
  </select>
  <%= submit_tag "Search", name: nil %>
<% end %>

<hr>
<h2>Movie List</h2>
<% @movies.each do |movie| %>
  <%= render movie %>
<% end %>