<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<%= form_tag movies_path, method: :get do %>
  <p>Title:<%= text_field_tag :title, params[:title] %></p>
  <p>Director:<%= text_field_tag :director, params[:director] %></p>
  <select name="length">
    <option value="1">Under 90 Minutes</option>
    <option value="2">Between 90 and 120 Minutes</option>
    <option value="3">Over 120 Minutes</option>
  </select>
  <%= submit_tag "Search", name: nil %>
<% end %>

<% if @movie_search.present? %>
<h2>Search Result</h2>
  <% @movie_search.each do |movie|%>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <% end %>
<% end %>

<hr>
<h2>Movie List</h2>
<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <p><%= image_tag movie.image.thumb.url %></p>
  <hr>
<% end %>